@font-face {
  font-family: "Consolas";
  src: url("../../assets/fonts/Pokemon_Pixel_Font_Regular/");
}
@font-face {
  font-family: "Medodica";
  src: url("../../assets/fonts/Medodica_Regular/");
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Medodica", monospace;
  overflow: scroll;
}
