@font-face {
  font-family: "Medodica";
  src: url("../../assets/fonts/Medodica_Regular/medodica.regular.otf");
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Medodica", monospace;
  overflow: auto;
}
