.game {
  --pixel-border-width: 4px;
  --board-padding: calc(var(--pixel-border-width) + var(--inner-padding));
  --card-width: 9rem;
  --card-spacing: var(--board-padding);
  --board-background-color: #faf3dd;
}

.board {
  display: grid;
  gap: var(--card-spacing);
}

.board:has(:nth-last-child(6)) {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board:has(:nth-last-child(9)) {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board:has(:nth-last-child(12)) {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board:has(:nth-last-child(16)) {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.pixel-border-inner {
  background-color: var(--board-background-color);
}

.pixel-border-inner::before {
  background-color: #850000;
}

.pixel-border-inner::after {
  background-color: #ff7575;
}
