@import "./Board.css";

.card {
  width: var(--card-width);
  height: var(--card-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  border-radius: var(--game-border-radius);
}

.card span {
  text-align: center;
}

.card.correct {
  background-color: green;
}

.card.incorrect {
  background-color: red;
}