@font-face {
  font-family: "Medodica";
  src: url("../../assets/fonts/Medodica_Regular/medodica.regular.otf");
}

.score {
  font-family: Medodica, monospace;
  display: flex;
  flex-direction: column;
  padding: var(--board-padding);
}

.score-display {
    font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: var(--game-border-radius);
}

.score-info {
  display: flex;
  flex-direction: column;
}
